.credits {
  $p: $spacer * 0.33;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: $p;
  background: white;
  color: black;
  box-sizing: border-box;
  line-height: 22px;
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    left: -400px;
    top: 0;
    width: 400px;
    height: 100%;
    background-image: url(../img/credits-corner.png);
    background-position: top right;
    background-repeat: no-repeat;
  }

  @media #{$tablet-and-above} {
    padding: $p ($spacer * 2) $p $p;
  }

  @media #{$above-tablet} {
    padding: $p ($spacer * 3) $p $p;
  }

  h1 {
    font-size: 24px;
    padding: 0 0 12px 0;
    margin: 0;
    font-weight: normal;

    @media #{$tablet-and-above} {
      font-size: 28px;
      padding: 0 0 14px 0;
    }

    @media #{$above-tablet} {
      font-size: 36px;
      padding: 0 0 18px 0;
    }
  }
}
