#webgl {
  position: fixed;
  //height: 100%;
  //width: 100%;
  //top: 0;
  //left: 0;

  height: 6 * $row;
  width: 8 * $col;
  left: 2 * $col;
  top: 3 * $row;
  z-index: $webglZ;

  #stats {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  #webgl-canvas {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    z-index:1;
  }

}