#works {
  // pointer-events: none;

  // &.show {
  //   pointer-events: auto;
  //   .works-inner {
  //     transform: translate3d(0, 0, 0);
  //   }
  // }

  // .works-inner {
  //   transform: translate3d(-100%, 0, 0);
  //   transition-property: transform;
  //   transition-duration: 0.4s;
  // }

  > .spacer {
    height: 75px;

    @media #{$landscape-s} {
      height: 65px;
    }

    @include media-breakpoint-up(md) {
      height: 0;
    }
  }

  > .inner {
    position: relative;
    z-index: $contentZ;
  }
}
