.head {
  position: relative;
  overflow: hidden;

  @import 'head/scroll-down';
  @import 'head/video';
  @import 'head/header';
  @import 'head/credits';
  @import 'head/shadow';

  &.dark {
    color: white;
  }

  .inner {
    position: relative;
    z-index: 20;
  }

  > iframe,
  .bg {
    z-index: 1;
    background-size: cover;
    background-position: center center;
    top: $marginY ;
    left: $marginX;
    position: absolute;
    width: calc(100% - #{$marginX + ($marginY * 0.5)});
    // width: calc(100% - #{$marginX});
    height: calc(100% - #{($marginY)});
  }

  .border {
    z-index: 10;
    border: 5px solid white;
    box-sizing: border-box;

    @media #{$tablet-and-above} {
      border-left: $marginX solid white;
      // border-right: $marginX solid white;
      border-right: ($marginY ) solid white;
      border-top: ($marginY ) solid white;
      border-bottom: ($marginY ) solid white;
    }
  }

  .pattern {
    z-index: 3;
  }
}
