.text {
  // padding-bottom: $spacer;
  // max-width: 75%;

  // @media #{$landscape-s} {
  //   max-width: 60%;
  // }

  // @media #{$m} {
  //   max-width: 70%;
  // }

  // @media #{$l} {
  //   max-width: 65%;
  // }

  .inner {
    .title {
      font-size: 28px;
      line-height: 1.3;

      @media #{$m} {
        font-size: 36px;
      }

      @media #{$l} {
        font-size: 48px;
      }
    }

    .year {
    }

    .description {
      font-size: 16px;

      @media #{$m} {
        font-size: 20px;
        // max-width: 62%;
      }

      @media #{$l} {
        font-size: 24px;
      }
    }

    .link {
      display: inline-block;
      a {
        display: inline-block;
      }
    }

    .title,
    .year,
    .description {
      display: block;
      padding-bottom: $spacer;
    }
  }
}
