.text {
  padding-bottom: $spacer;
  max-width: 75%;

  @media #{$landscape-phone} {
    max-width: 60%;
  }

  @media #{$tablet-and-above} {
    max-width: 70%;
  }

  @media #{$above-tablet} {
    max-width: 65%;
  }

  .inner {
    .title {
      font-size: 28px;
      line-height: 1.3;

      @media #{$tablet-and-above} {
        font-size: 36px;
      }

      @media #{$above-tablet} {
        font-size: 48px;
      }
    }

    .year {
    }

    .description {
      font-size: 16px;

      @media #{$tablet-and-above} {
        font-size: 20px;
        max-width: 62%;
      }

      @media #{$above-tablet} {
        font-size: 24px;
      }
    }

    .link {
      display: inline-block;
      a {
        display: inline-block;
      }
    }

    .title,
    .year,
    .description {
      display: block;
      padding-bottom: $spacer;
    }
  }
}
