.inner-container {
    padding: $smallContentPadding;
    width: $maxWidth;
    box-sizing: border-box;
  
    &.no-padding {
      padding: 0 !important;
    }
  
    @media #{$landscape-phone} {
      padding: $smallContentPadding;
    }
  
    @media #{$tablet-and-above} {
      padding: $contentPadding;
      width: $maxWidthMedium;
    }
  
    @media #{$above-tablet} {
    }
  
    @media #{$above-desktop} {
    }
  }
  