a.list-item {
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  background-color: white;
  backface-visibility: hidden;
  cursor: pointer;
  display: block;

  @at-root .no-touchevents & {
    &:hover {
      text-decoration: none !important;
      // .image-wrapper {
      //   filter: blur(0);
      // }
      // .image-wrapper img {
      //   filter: blur(0);
      // }
      .details {
        .name,
        .year,
        .intro {
          transform: translate3D(15px, 0, 0);
        }

        .name {
          color: black;
        }

        .intro {
          opacity: 1;
        }
      }
    }
  }

  .image-wrapper {
    display: block;
    overflow: hidden;
    z-index: 5;
    position: relative;

    img {
      display: block;
      width: 100%;

      // filter: blur(50px);
      transition-duration: 0.3s;
      transition-timing-function: linear;
    }
  }

  .details {
    display: block;
    padding: 10px 0;
    z-index: 10;
    position: relative;

    .name,
    .year,
    .intro {
      transition-duration: 0.4s;
      backface-visibility: hidden;
      font-size: 13px;
      display: block;
    }

    .name {
      color: $darkGrey;
    }

    .intro {
      color: $mediumGrey;
      transition-delay: 0.2s;

      @at-root .no-touchevents & {
        opacity: 0;
      }
    }

    .year {
      display: none;
    }
  }
}
