a.list-item {
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  background-color: white;
  backface-visibility: hidden;
  cursor: pointer;
  display: block;
  border-color: transparent !important;

  @at-root .no-touchevents & {
    &:hover {
      text-decoration: none !important;
      .details {
        .name {
          transform: translate3D(0.75rem, 0, 0);
        }
        .year,
        .intro {
          transform: translate3D(1.5rem, 0, 0);
        }

        .name {
          color: black;
        }

        .intro {
          opacity: 1;
        }
      }
    }
  }

  .image-wrapper {
    display: block;
    overflow: hidden;
    z-index: 5;
    position: relative;
    font-size: 7px;

    img {
      display: block;
      width: 100%;

      // filter: blur(50px);
      transition-duration: 0.3s;
      transition-timing-function: linear;
    }
  }

  .details {
    display: block;
    padding: 10px 0;
    z-index: 10;
    position: relative;

    .name,
    .year,
    .intro {
      transition-duration: 0.4s;
      backface-visibility: hidden;
      font-size: 1rem;
      display: block;
    }

    .name {
      padding-left: 0.75rem;
      color: $darkGrey;
      line-height: 1.95;
      @extend .heading;
    }

    .intro {
      color: $mediumDarkGrey;
      transition-delay: 0.2s;

      @at-root .no-touchevents & {
        opacity: 0;
      }
    }

    .year {
      display: none;
    }
  }
}
