.svg-icon {
  $iconSize: 40px;
  font-size: $iconSize;
  height: $iconSize;
  line-height: $iconSize;
  width: $iconSize;
  fill: $darkGrey;

  position: relative;
  background-color: white;
  border-radius: 50%;
  padding: $spacer * 0.5;
  display: inline-block;
  text-align: center;
  transform: rotate(0deg);
  transition-duration: 0.4s;
  backface-visibility: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);

  @include media-breakpoint-up(md) {
    $iconSize: 30px;
    font-size: $iconSize;
    height: $iconSize;
    line-height: $iconSize;
    width: $iconSize;
    fill: $darkGrey;
    padding: 10px;
  }
}

.no-touchevents {
  .svg-wrapper:hover .svg-icon,
  .svg-icon:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }
}
