.detail {
  z-index: $contentZ;
  min-height: 100%;
  position: relative;

  // Standard style
  @import 'detail/default';
}

// Custom style
@import 'detail/the-airport-of-the-future';
@import 'detail/w152';
@import 'detail/fan-beat';
