#fan-beat {

  background-color: #0b0d1a;
  // background-color: #2b3f7b;
  
  //   background: linear-gradient(to bottom, #090d19 0%, #111932 100%); /* W3C */

  //   color: white;

  //   .title {
  //     color: white;
  //     // color: #b4ca48;
  //   }

  //   .year {
  //     color: white;
  //     // color: #9c277b;
  //   }

  //   a {
  //     padding: 3px 6px;
  //     border: 1px solid rgba(255, 255, 255, 0.3);
  //     color: white;
  //     font-size: 0.9em;
  //     text-decoration: none;
  //     margin: 0 4px;

  //     &:hover {
  //       color: #111932;
  //       border-color: white;
  //       background-color: white;
  //       text-decoration: none;
  //     }
  //   }

  //   .link a {
  //     margin: 0;
  //     &:hover {
  //       text-decoration: none;
  //     }
  //   }

  // SAP colors
  .color1 {
    color: #b4ca48;
  }
  .color2 {
    color: #008fcc;
  }
  .color3 {
    color: #2b3f7b;
  }
  .color4 {
    color: #9c277b;
  }
  .color5 {
    color: #de8a2e;
  }
}
