#pride-prejudice {
  .iframe-container {
    background-color: #fff;
  }

  .head {
    .bg {
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }

  .images {
    .img {
      border: 1px solid $border-color;
    }
  }
}
