#the-code-of-nature-3d {
  $theHuntColor: #ddd;

  background-color: $theHuntColor;

  .border {
    border-color: #ddd !important;
  }

//   .head {
//     .icons {
//     //   bottom: 0;
//     //   right: 0;
//       .fullscreen-icon {
//       }
//     }
//   }

//   .visuals {
//     .art {
//       &.zoomed {
//         .img {
//           border-left: none !important;
//           border-right: none !important;
//         }
//       }
//       .img {
//         border: 1px solid #ddd;
//       }
//     }
//   }
}
